datasets
dateparser
matplotlib
python-dotenv
scikit-learn
Telethon
tokenizers
torch
transformers
sentence-transformers
langchain-gigachat
openai
ipykernel
lxml
nltk
spacy
rake_nltk
yake
pytextrank
pandas
yandex_cloud_ml_sdk
rank_bm25
